name: mangopay2-net-sdk-ci

on:
  push:
    branches:
      # push on master branch
      - master
      # push on a feature branch
      - feature/*
      # push on a bugfix branch
      - bugfix/*
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: ['5.0.x']
    name: dotnet ${{ matrix.dotnet }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Update Packages
      run: apt-get update
    - name: Install Nuget
      run: sudo apt-get install nuget
    - name: Check mono
      run: mono --version
    - name: Install NUnit Console
      run: nuget install NUnit.Console -Version 3.9.0 -OutputDirectory testrunner
    - name: Test
      run: mono ./testrunner/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe ./MangoPay.SDK.Tests/bin/Release/net461/MangoPay.SDK.Tests.dll
